* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(225, 225, 225);
}

.logo img {
  width: 300px;
  background-color: transparent;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header > div {
  background-color: white;
}

.menu li {
  list-style: none;
}

.head_btn {
  width: 110px;
  height: 30px;
  background-color: rgb(63, 147, 74);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
}

.head_btn_like {
  width: 110px;
  height: 30px;
  background-color: palevioletred;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
}

button:hover {
  background-color: rgb(178, 185, 180);
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 15px;
  background-color: white;
  align-items: center; /*버튼을 가운데 두고 싶어서*/
  padding-right: 20px;
}

.menu div {
  background-color: transparent;
}

.logo img {
  width: 300px;
  background-color: transparent;
}

/*추천 박스*/
.ai_box {
  padding: 50px 70px 10px;
  width: 1200px;
  height: 700px;
  margin: 50px auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.btn_bar {
  width: 100%;
  height: 60px;
  background-color: rgb(230, 230, 230);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.ai_btn_box {
  display: flex;
  gap: 10px;
}

.ai_btn {
  width: 110px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  color: rgb(75, 75, 75);
  font-size: 15px;
  font-weight: bold;
  border: solid 1.5px rgb(112, 112, 112);
}

.like_btn {
  width: 170px;
  height: 45px;
  background-color: palevioletred;
  color: white;
  font-size: 20px;
  border: 0;
  padding: 5px;
  margin-top: 20px;
  align-self: flex-end;
}

.letter {
  font-weight: bold;
}
